


.hero {
	width: 100vw;
	padding: 1rem 3rem;
	/* margin-bottom: var(--navbar-height); */
	mix-blend-mode: luminosity;
	@media(max-width: 780px) {
		padding: 1rem 0;
	}
}

.home-page-title-container {
	width: fit-content;
	background: white;
	margin-left: var(--main-containers-margin);	
	padding: 1rem;

	@media(max-width: 780px) {
		margin-left:0;
		// display: flex;
		// flex-wrap: wrap;
		// justify-content: end;
	}
}

.home-page-title {
	font-size: 3rem;
	mix-blend-mode: luminosity;
	@media(max-width: 780px) {
		font-size: 2rem;
	}
}
