
<div class="page-wrapper">
	<div>
    <div class="form-container">
    <h2>Contact Us</h2>
        
    
    <form class="contact-us-container" id="contact-us" >
          
    
      <label for="email">Email:</label><br>
      <input type="text" name="email" id="email-form" minlength="3" placeholder="eg: jmisteli@mmpenergy.com.au" required> <br>

    <label for="email">Name:</label><br>
      <input type="text" name="name" id="name-form" minlength="3" placeholder="eg: John Doe" required> <br>
      
      <label for="message">Message</label><br>

      <textarea name="message" id="message-form" placeholder="Drop us a line here" class="expanding" required></textarea><br>
    <div class="contact-button-container">
      <button class="btn" onclick="submitEmail(this)">
        
        Send
      </button>
    </div>
        </form>

    </div>
  </div>
</div>