
<div class="page-wrapper">
    <div class='container-template'>
        <div class="content-container">
            <div class="content">
                <div class='page-title'>
                    <div class="image-container image-loader" >
                        <img src="##mainimage##"/>
                    </div>
                    <div class="title-text">
                        <h1 >##title##</h1>
                        <div id='blo'></div>
                        <div class='page-subtitle'>##subtitle##</div>
                    </div>
                </div>
                <div class="page-content">
                    <div class="introdution">
                        ##introduction##
                    </div>
                    <ul class="table-of-content">
                        ##tableofcontent##
                    </ul>
                    <div class="main-content">
                        ##content##
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>



