 
<div class="page-wrapper">
	<div class='container-template'>
		<div class="content-container">
			<div class="about-page content">
				<div class="page-title-container colored" id="coloredTitleContainer">
					<div class='page-title'>
						<div class="image-container image-loader" >
							<img src="##mainimg##" alt="##mainimgalt##"/>
						</div>
						<div class="title-text">
							<h1 >##title##</h1>
							<div id='blo'></div><div class='page-subtitle'>##subtitle##</div>
						</div>
					</div>
				</div>
				<div class="page-content">
					<p>##content##</p>
				</div>
			</div>
		</div>
	</div>
</div>