 
<div class="page-wrapper">
<div class='container-template'>
	<div class="content-container">
		<div class="content">
				<div class='page-title'>
						<div class="image-container">
						</div>
						<div class="title-text">
							<h1 >##title##</h1>
							<div id='blo'></div>
							<div class='page-subtitle'>##subtitle##</div>
						</div>
				
					</div>
					<div class="two-picture page-content">
							<div class="first-section">
								<p>##para1##</p>	
							</div>
							<div class="second-section">
							<h1>##para2title##</h1>
							<div class="para-image-wrapper">
							<div class="paragraph1">
								##para2##
							</div>
							<div class="image">
								<img src="##imagetwo##"/>
							</div>
							<div class="paragraph2" >
								##para3##
							</div>
						</div>
							</div>
					</div>
		</div>
	</div>
	
		</div>
</div>

