#headme 
<div class="body-wrapper">
<div class='container-template'>
	<div class='page-title'>
		<div class="image-container">
			<img src="##mainimage##"/>
		</div>
		<div class="title-text">
			<h1 >##title##</h1>
			<div id='blo'></div><h2 class='page-subtitle'>##subtitle##</h2>
		</div>

	</div>
		<div class="two-picture page-content">
			<div class="first-section">
				<p>##para1##</p>	
			</div>
			<div class="second-section">
			<h1>##para2title##</h1>
			<div class="para-image-wrapper">
			<div class="paragraph">
				<p>##para2##</p>
			</div>
			<div class="image">
				<img src="##imagetwo##"/>
			</div>
		</div>
			</div>
		</div>
</div>
