nav {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	background: transparent;
	height: var(--navbar-height);
	background:white;
	/* height:150px; */
	/* padding: 0 2rem; */
	z-index: 1;
	display: flex;
}

.nav-left-block {
	// position: absolute;
	// top:0;
	// left: 0;
	height: 50vh;
	width: calc(var(--navbar-height)*2);
	background:white;
	// display: none;
	width: inherit;
	background: white;
	height: 100%;
}
.nav-items {
	display: flex;
	/* display: none; */
	flex-wrap: wrap;
	justify-content: end;
	/* align-items: center; */
	list-style-type: none;
	height: 100%;
	margin: 0;
	background: rgba(70,43,133, 0.7);
	background: transparent;
	color: blanchedalmond;
	color: deepskyblue;
	color: darkorange;
	color: hotpink;
	color:limegreen;
	justify-content: flex-end;
	padding: 0;
	// margin: 0 3rem;
	width: 15rem;
	padding-top: 2rem;
	display: block;
	// position: absolute;
	// right: 0;
	// background: white;
	// background: red;

	@media(max-width: 780px) {
		margin:0;
	}
}
.nav-item {
	padding: 0 1rem;
	position: relative;
	padding: 0 1rem;
	cursor: pointer;
	letter-spacing: 1px;
	font-size: 20px;
	color: var(--red);
	color: var(--red);
	font-weight: bold;
	background: white;
}
.nav-item:hover {
	background: white;
}
.nav-item::after {
	
}