html {
	width: 100vw;
	box-sizing: border-box;
}
html, body {
  position:relative;
	overflow-x:hidden;
	
}
body {
	max-width: 100vw;
	width: 100%;
	overflow-x: hidden;
	margin: 0;
	padding-top: var(--navbar-height);
	/* margin-top: var(--navbar-height); */
	isolation: isolate;
	position: relative;
	overflow-y: hidden;

}
body, div, p {
	font-family: 'Inter', sans-serif;
	font-size: 21px;
	@media(max-width: 550px) {
    font-size: 18px;
	}
}

p {
	line-height: 30px;
}

.mini {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	background: snow;
	padding: 10px 22px;
}

iframe {
	border: 2px solid var(--red);
	border-radius: 30px;
}

*{
	box-sizing: inherit;
}

div{
	margin:0;
  // overflow-y:none;
}
h1, h2, h3, h4, h5, div, p {
	overflow-y: none;
}
h1, h2, h3, h4, h5 {
	font-family: 'Libre Baskerville', serif;

}
h1, h2, h3 {
	mix-blend-mode: multiply;
	z-index: 3;
}
img {
	width: 100%;
}

a {
  color: inherit; /* blue colors for links too */
	// text-decoration: inherit; /* no underline */
	cursor: pointer;
}