@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
// @import url('/assets/fonts/JetBrainsMono-1.0.3\web\ttf\JetBrainsMono-Medium.ttf');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');

@font-face {
  font-family: 'JetBrainsMono';
  font-display: auto;
  src:  url('/assets/fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Medium.ttf');
}
@font-face {
  font-family: 'Nexa Bold';
  font-display: auto;
  src:  url('/assets/fonts/Nexa_Bold.otf');
}