:root{
	--red: #DC136C;
	--yellow: #FDD483;
	--green: #8ED1B7;
	--pink: #E7A8C6;
	--purple: #606EFE;
	--orange: #ED6550;
	--light-grey: #DDD5D0;
	--dark-grey: #818AA3;
	--navbar-height: 150px;
	--main-containers-margin: 3rem;
}